
* {
  font-family: "Outfit", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  
  font-size: 18px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(221, 100%, 96%);
}
.your_result {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  text-align: center;

  padding: 0.7rem;
  height: 27rem;
  width: 18rem;
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  border-radius: 20px;
}

.result_background {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
}

.your_result_text {
  font-size: 1.5rem;
  color: hsl(221, 100%, 96%);
  opacity: 75%;
}
.result_background h1 {
  font-weight: 800;
  font-size: 4rem;
  color: hsl(0, 0%, 100%);
}
.all_porcent_number {
  font-size: 1rem;
  color: hsl(221, 100%, 96%);
  opacity: 50%;
}
.great {
  font-size: 2rem;
  color: hsl(0, 0%, 100%);
  
}
.information {
  font-size: 1.2rem;
  color: hsl(221, 100%, 96%);
  opacity: 70%;
  text-align: center;
}


.summary_container {
  display: flex;
  flex-direction: column;
  
  
  padding: 0.7rem;
  height: 27rem;
  width: 18rem;
  background: white;
  border-radius: 20px;
}

.summary_title {
  display: inline-block;
  font-weight: 700;
  font-size: 1.5rem;
  width: auto;
  flex-grow: 0;
  padding-bottom: 50px;
  color: hsl(224, 30%, 27%);
}


.reaction {
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 1rem;
}
.list{
  font-size: 1rem; 
  font-style:normal;
}

.list > .list_item {
  display: flex;
  margin: 10px;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.7rem;
  
  
}
.list > .list_item > .list_item_title > * {
    display: inline-block;
    
}
.list > .list_item > .list_item_title > h3 {
    display: inline-block;
    font-weight: 500;
   
}
.list > .list_item > .list_item_title > img {
   padding-right: 0.5rem;
   
}
b{
  color: black;
  
}
.number{
  color: rgb(177, 175, 175); 
}
.red{
  color: hsl(0, 100%, 67%);
  background-color:hsl(0, 100%, 67%, 0.10);
}
.yellow{
  color: hsl(39, 100%, 56%);
  background-color:hsl(39, 100%, 56%, 0.10);
}
.green{
  color: hsl(166, 100%, 37%);
  background-color:hsl(166, 100%, 37%, 0.10);
}
.blue{
  color: hsl(234, 85%, 45%);
  background-color:hsl(234, 85%, 45%, 0.10);
}
button{
  background-color:hsl(224, 30%, 27%);
  border-radius: 1.5rem;
  width: 15rem;
  height: 2.8rem;
  font-size: 1.1rem;
  margin-top: 2.5rem;
  align-self: center;
  color: white;
 
}
button:hover{
  cursor: pointer;

}

@media (max-width:760px){
  .container{
    flex-direction: column;
    margin-top: 0;
    background: white;
  }
  .your_result{
    width: 100%;
    border-radius: 0 0 45px 45px;
  
  }
  .your_result_text{

  }
  .information{
    font-size: 1.0rem;
    margin: 1.0rem;
    
  }
 
  button{
    width: 18rem;
    height: 3.5rem;
    font-size: 1.1rem;
    margin-top: 2.5rem;
  }
  
}





